body{
    background-color:black;
}
h1{
    color:aliceblue;
}
p1{
    color:aliceblue;
}
p2{
    color:antiquewhite;
}
p3{
    color:azure;
}
p4{
    color:beige;
}
.odd{
    color:lightpink;
}
.even{
    color:lightblue;
}