h1{
    text-shadow: 3px 3px 5px hsl(284, 88%, 56%), -3px -3px -5px hsl(240, 100%, 50%);
}
#box1{
    width:100px;
    height:100px;
    background-color:hsl(0, 2%, 64%);
    box-shadow:3px 3px 5px;
}